client/.next/
client/out/
*/.env*.local
**/.vercel
*/next-env.d.ts
**/data
**/.terraform.lock.hcl
**/.terraform
**/terraform.tfstate
**/terraform.tfstate.backup
**/**.pem

**/node_modules
**/build
**/logs
*.env